.slidev-layout {
    @apply text-[1.5rem];


    p {
        line-height: 2rem;
    }

    pre code {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    a.image-link {
        border-bottom: none;
    }
}